*.swp
.coverage
*.log
node_modules
keystore/model*
keystore/.primary*
keystore/.context*
keystore/.name*
keystore/.prv*
keystore/.pub*
tags
.tags
coverage/
parts
prime
stage
*.snap
*.tar.bz2
snap/.snapcraft
.tests-extras
vendor/*/
__pycache__/
files/