// Main theme changes
$color-brand: #E95420;
$color-link: #E95420;

$button-text-color: #fff;

@import 'node_modules/vanilla-framework/scss/build';


.App {
  padding: 0;
  margin: 0;
}

.nav_logo {
  font-size: smaller;
}