name: Automated javascript build CI
on:
  push:
    paths: 'webapp-admin/**'
    branches: master
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12.x
      uses: actions/setup-node@v2.4.0
      with:
        node-version: 12.x
    - name: Build frontend
      run: |
        make build-frontend
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: Added js/css files
        title: 'Automated javascript build'
