name: Go
on: [pull_request]
jobs:
  build:
    name: Test
    runs-on: ubuntu-16.04
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2.1.5
      with:
        go-version: 1.13
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Setup
      run: make bootstrap
    - name: Test build
      run: make install
    - name: Run tests
      run: make test

